.reservationContainer {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterContainer {
  display: flex;
  align-items: center;
}

.filterContainer > * {
  margin: 10px !important;
}

.paginationContainer > * {
  margin: 10px !important;
}

.paginationContainer {
  display: flex;
}

.toolbarItem {
  margin-right: 10px;
}

.adMessage {
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .cardcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .filterContainer {
    flex-wrap: wrap;
  }

  .toolbar {
    flex-direction: column;
  }

  .countLabel {
    display: none;
  }
}
