.section {
  margin: 10px;
}

.right {
  float: right;
  margin-left: 5px;
}

.cell {
  text-align: center;
  cursor: pointer;
}

.fullCell {
  composes: cell;
  color: #a80000;
}

.partialCell {
  composes: cell;
  color: #ff8c00;
}

.selectedCell {
  composes: cell;
  background-color: #006726;
  color: white;
  border-radius: 5px;
}

.tableContainer {
  max-width: 1200px;
  margin: auto;
}

.dateContainer {
  display: flex;
}

.dateContainer label {
  margin-right: 10px;
}

.dateContainer label:last-of-type {
  margin-left: 10px;
}
