.section {
  margin: 25px;
}

.right {
  float: right;
  margin-left: 5px;
}

.cell {
  text-align: center;
  cursor: pointer;
  color: #005720;
}

.fullCell {
  composes: cell;
  color: #a80000;
}

.partialCell {
  composes: cell;
  color: #ff8c00;
}

.selectedCell {
  composes: cell;
  background-color: #006726;
  color: white;
  border-radius: 5px;
}

.tableContainer {
  margin: auto;
}

.dateContainer {
  display: flex;
}

.dateContainer label {
  margin-right: 10px;
}

.dateContainer label:last-of-type {
  margin-left: 10px;
}

.fieldWithButtonContainer {
  display: flex;
  width: 150px;
}

.bedSelectorContainer {
  display: flex;
}

.bedSelector {
  margin-left: 15px;
}