.container {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  grid-template-areas:
    "error error error"
    "add data data"
    ". data data";
}

.dataContainer {
  grid-area: data;
}

.error {
  grid-area: error;
  margin-top: 20px;
}

.addContainer {
  grid-area: add;
}

.addContainer > button {
  float: right;
  margin-top: 20px;
}

.info > div {
  margin-top: 5px;
}
