.headertext {
  margin-top: 0;
  padding: 20px;
  margin-bottom: 0;
  user-select: none;
}

.nav {
  margin: 0;
  padding-left: 20;
  user-select: none;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav ul li {
  float: left;
}

.link {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.rightLink {
  float: right !important;
  margin-right: 15px;
}

.helpButton {
  padding-top: 15px;
  color: white !important;
}

.modal {
  padding: 20px;
  min-width: 50vw;
}

.closeButton {
  float: right;
}

.burger {
  padding-right: 45px;
  color: white;
  display: none;
}

.burger:hover {
  color: white;
}

.headerTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 750px) {
  li {
    width: 100%;
  }
  .rightLink {
    float: left !important;
  }
  .burger {
    display: inline-flex;
  }
  .displayNone {
    display: none;
  }
  .headertext {
    font-size: 0.8em;
  }
}
