.cardcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filterContainer {
  margin: 15px;
  display: flex;
  align-items: center;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginationContainer {
  display: flex;
}

.toolbarItem {
  margin-left: 10px;
}

.adMessage {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .cardcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
